
#monsterbox { 
    text-align: left
}

.monster-name {
    color : darkred;
    font-size : large;
    font-weight:bold;
}

.monster-red-left {
    color : darkred;
    font-weight:bold;
}

.monster-grey-left {
    font-style:italic;
    font-weight:bold;
}

.monster-divider {
    border-top:solid thin darkred;
    margin-top : 5px;
    padding-bottom : 5px;
}

.monster-stat-label {
    color :darkred;
    display:inline-block;
    font-weight:bold;
    text-align:center;
    width: 60px;
}

.monster-stat-value {
    color : darkred;
    display:inline-block;
    text-align:center;
    width:60px;
}
