
#monster-builder > .inputs { 
    display:block;
    font-size:12pt;
    width:100%;
}

#monster-builder > .inputs > div {
    padding: .2em 0em;
}

#monster-builder > .inputs input, 
#monster-builder > .inputs select { 
    font-size: 12pt;
}

#monster-builder .inputs-column { 
    display: inline-block;
    min-width: 125px;
}

#monster-builder .drop-down {
    width:3.27em;
}

#monster-builder .number-input { 
    width:3em;
}

.output-table { 
    margin: 25px;
    table-layout: fixed;
    width:500px;
}

.output-table thead th input { 
    width : 75px !important;
}

.output-table tbody tr :nth-child(1), 
.output-table tbody tr :nth-child(2) {
    width:125px;
}

.output-table thead tr :nth-child(3),
.output-table tbody tr :nth-child(3) {
    width:250px;
}

.output-table tbody > :nth-child(even) {
    background-color:#eee;
}

.output-table .monster-count-col {
    padding: 0em 1em;
    /* Need to remove style defaults from gridify */
    text-align:right !important; 
}

.output-table .xp-cost-col { 
    padding: 0em 1em;
    text-align:right !important;
}

.output-table .cr-col {
    padding: 0em 1em;
    text-align:left !important;
}
