
#monster-builder > .inputs { 
    display:block;
    font-size:12pt;
    width:100%;
}

#monster-builder > .inputs > div {
    padding: .2em 0em;
}

#monster-builder > .inputs input, 
#monster-builder > .inputs select { 
    font-size: 12pt;
}

#monster-builder .inputs-column { 
    display: inline-block;
    min-width: 125px;
}

#monster-builder .drop-down {
    width:3.27em;
}

#monster-builder .number-input { 
    width:3em;
}