
#inputContainer { 
    display:block;
    width:100%;
}

.builder_inputs_full { 
    display : block;
    width:100%;
}

.builder_inputs_column { 
    display: inline-block;
    min-width: 125px;
}

.builder_number_input { 
    width:35px;
}