


.character { 
    text-align: left
}

.character-name {
    color : darkred;
    font-size : large;
    font-weight:bold;
}

.character-red-left {
    color : darkred;
    font-weight:bold;
}

.character-grey-left {
    font-style:italic;
    font-weight:bold;
}

.character-divider {
    border-top:solid thin darkred;
    margin-top : 5px;
    padding-bottom : 5px;
}

.character-stat-label {
    color :darkred;
    display:inline-block;
    font-weight:bold;
    text-align:center;
    width: 60px;
}

.character-stat-value {
    color : darkred;
    display:inline-block;
    text-align:center;
    width:60px;
}

#characterTabs {
    display:flex;
    line-height:30px;
    margin:25px;
}

#characterTabs :last-child {
    border-right:none;
}

#characterTabs span {
    border-right:solid thin;
    display:inline-block;
    font-weight:bold;
    min-width:100px;
    text-align: center;
}

#characterTabs .selected {
    opacity: .5;
    text-decoration:underline;
}

#characterSections {
    border-left: solid thin;
    padding-left:8px;
}


#characterSections .characterSection span:nth-child(2){
    display:inline;
}


#characterSections .characterSection ul span:first-child{
    width:50px;
}
#characterSections .characterSection ul span:nth-child(2){
    display:inline-block;
    text-align:right;
    width:20px;
}

#characterSections .characterSection table {
    border-spacing:0;
}


