



#character_tabs {
    display:flex;
    line-height:30px;
    margin:25px;
}

#character_tabs :last-child {
    border-right:none;
}

#character_tabs span {
    border-right:solid thin;
    display:inline-block;
    font-weight:bold;
    min-width:100px;
    text-align: center;
}

#character_tabs .selected {
    opacity: .5;
    text-decoration:underline;
}

#character_sections {
    border-left: solid thin;
    padding-left:8px;
}


/*#character_sections .character_section span:first-child {
    display:inline-block;
    width:100px;
}*/
#character_sections .character_section span:nth-child(2){
    display:inline;
}

#character_sections .character_section ul {
    columns:2;
    margin:5px;
}

#character_sections .character_section ul span:first-child{
    width:50px;
}
#character_sections .character_section ul span:nth-child(2){
    display:inline-block;
    text-align:right;
    width:20px;
}

#character_sections .character_section table {
    border-spacing:0;
}