
#monsterbox { 
    text-align: left
}

.monster_name {
    color : darkred;
    font-size : large;
    font-weight:bold;
}

.monster_red_left {
    color : darkred;
    font-weight:bold;
}

.monster_grey_left {
    font-style:italic;
    font-weight:bold;
}

.monster_divider {
    border-top:solid thin darkred;
    margin-top : 5px;
    padding-bottom : 5px;
}

.monster_stat_label {
    color :darkred;
    display:inline-block;
    font-weight:bold;
    text-align:center;
    width: 60px;
}

.monster_stat_value {
    color : darkred;
    display:inline-block;
    text-align:center;
    width:60px;
}
