


body,input,select,textarea {
    font-family: Verdana, Helvetica, Tahoma, Arial, sans-serif; 
    color: #5e5e5e;
    font-size: 11pt;
    font-weight: 400;
    line-height: 1.5;
}

@media screen and (max-width: 1280px) {
	body,input,select,textarea {
		font-size: 10pt;
        line-height:1.25;
	}
}

code,pre {
    font-family: Courier New, Courier, monospace;
}



a, a:visited { 
    color: #333333;
    text-decoration:underline;
}
a:hover   {
    font-style:italic;
}

header {
    display:block;
}

.logo {
    font-weight:800;
    color:#6e6e6e;
    text-decoration:none;
    font-size:14pt;
}

#main-content {
    display:block;
    margin: 20px 70px 20px 70px;
}

#modal-overlay {
    background-color: rgba(0,0,0,0.5); 
    height:100%; 
    left:0;
    margin:0; 
    padding:0; 
    position:fixed;
    top:0; 
    width:100%!important; 
    z-index:2;
}

#modal-content {
    background-color: rgb(255,255,255);
    left:10%; 
    right:10%;
    padding:5%; 
    position:fixed; 
    text-align:center!important;
    top:10%; 
    z-index:3; 
}

#footer ul li {
    display:inline
    
}
#footer ul li::after{
    content : ' | '
}
#footer ul li:last-child::after{
    content:'';
}


.sort {
    float:right;
    position:absolute;
}
.sort:before,
.sort:after {
	border: 4px solid transparent;
	content: "";
	display: block;
	margin-left:5px;
	width: 0px;
}
.sort:before {
	border-bottom-color: #666;
}
.sort:after {
	border-top-color: #666;
	margin-top: 1px;
}