
.tabs {
    display:flex;
    line-height:30px;
    margin:25px;
}

.tabs :last-child {
    border-right:none;
}

.tabs span {
    border-right:solid thin;
    display:inline-block;
    font-weight:bold;
    min-width:100px;
    text-align: center;
}

.tabs .selected {
    opacity: .5;
    text-decoration:underline;
}

.section {
    border-left: solid thin;
    padding-left:8px;
}

.section table {
    border-spacing:0;
}