
#monster_tabs {
    display:flex;
    line-height:30px;
    margin:25px;
}

#monster_tabs :last-child {
    border-right:none;
}

#monster_tabs span {
    border-right:solid thin;
    display:inline-block;
    font-weight:bold;
    min-width:100px;
    text-align: center;
}

#monster_tabs .selected {
    opacity: .5;
    text-decoration:underline;
}

#monster_sections {
    border-left: solid thin;
    padding-left:8px;
}

#monster_sections .monster_section table {
    border-spacing:0;
}