/* https://flatuicolors.com/palette/us */

/*
    #00cec9 "Robin's egg blue" - progress / action
    #00b894 "Mint Leaf" - confirmation / success
    #ffeaa7 "Sour Lemon" - information / alert
    #e17055 "Orangeville"  - warning
    #d63031 "Chi Gong" - error / back
    #636e72 "American River" - text / borders
*/




/* Global element overwrites */
body,input,select,textarea {
    color: #636e72;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    line-height: 1.5;
}

@media screen and (max-width: 1280px) {
	body,input,select,textarea {
		font-size: 10pt;
        line-height:1.25;
	}
}

code,pre {
    font-family: Courier New, Courier, monospace;
}

a, a:visited { 
    color: #333333;
    text-decoration:underline;
}

a:hover   {
    font-style:italic;
}

/* Major page elements */
#header {
    display:block;
    margin: 10px 2.5em;
}

.logo {
    font-weight:800;
    color:#6e6e6e;
    text-decoration:none;
    font-size:14pt;
}

#main-content {
    display:block;
    margin: 10px 5em;
}

#footer {
    margin: 10px 2.5em;
}

#footer ul li {
    display:inline
}

#footer ul li::after {
    content : ' | '
}

#footer ul li:last-child::after {
    content:'';
}


/*  */
.tabs {
    display:flex;
    line-height:30px;
    margin:25px;
}

.tabs :last-child {
    border-right:none;
}

.tabs span {
    border-right:solid thin;
    display:inline-block;
    font-weight:bold;
    min-width:100px;
    text-align: center;
}

.tabs .selected {
    opacity: .5;
    text-decoration:underline;
}

/* Base grid styles */
.grid tBody > tr { 
    border-bottom : solid thin grey;
}

.grid th {
    font-weight: bold;
    padding: 2px 6px;
}

.grid td { 
    padding: 1px 6px;
}



.btn {
    display:inline-block;
    font-size:14px;
    padding:.5em 1em;
}

.btn-inline { 
    display:inline-block;
    font-size:inherit;  
    line-height:inherit;
    padding:.1em .75em; 
}

.btn-ok,
.btn-confirm, 
.btn-cancel,
.btn-dark {
    border:transparent;
    color: white;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 12px -2px rgba(0, 0, 0, 0.3);
}

.btn-ok { 
    background-color : #00cec9;
}
.btn-ok:hover,
.btn-ok:focus { 
    background-color : #0ab6b3;
}

.btn-confirm { 
    background-color: #00b894;
}
.btn-confirm:hover,
.btn-confirm:focus {
    background-color: #0ea587;
}

.btn-cancel { 
    background-color: #e17055;
}
.btn-cancel:hover,
.btn-cancel:focus { 
    background-color: #c26953;
}

.btn-dark {
    background-color: #636e72;
}
.btn-dark:hover,
.btn-dark:focus {
    background-color: #2d3436;
}
