


body,input,select,textarea {
    color: #5e5e5e;
    font-weight: 400;
    line-height: 1.5;
}

@media screen and (max-width: 1280px) {
	body,input,select,textarea {
		font-size: 10pt;
        line-height:1.25;
	}
}

code,pre {
    font-family: Courier New, Courier, monospace;
}

a, a:visited { 
    color: #333333;
    text-decoration:underline;
}

a:hover   {
    font-style:italic;
}

header {
    display:block;
}

.logo {
    font-weight:800;
    color:#6e6e6e;
    text-decoration:none;
    font-size:14pt;
}

#main-content {
    display:block;
    /*margin: 20px 70px 20px 70px;*/
}

#footer ul li {
    display:inline
    
}
#footer ul li::after{
    content : ' | '
}
#footer ul li:last-child::after{
    content:'';
}


/* Rewrite tabs as a module.  */
.tabs {
    display:flex;
    line-height:30px;
    margin:25px;
}

.tabs :last-child {
    border-right:none;
}

.tabs span {
    border-right:solid thin;
    display:inline-block;
    font-weight:bold;
    min-width:100px;
    text-align: center;
}

.tabs .selected {
    opacity: .5;
    text-decoration:underline;
}


.grid tBody > tr { 
    border-bottom : solid thin grey;
}

.grid th {
    font-weight: bold;
    padding: 2px 6px;
}

.grid td { 
    padding: 1px 6px;
}